body{background-color:#ffffff;font-family:"Helvetica Neue",sans-serif;font-weight:200;padding:0;}
.sidemargin{margin-left:20px;margin-right:20px;}
.supersize{font-size:72px;line-height:96px;font-weight:100;}
h2,h3,h4,h5,h6,b{font-weight:400;}
.center{text-align:center;}
.full-height{height:100%;}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:source-sans-pro,sans-serif;font-weight:200;}
.lead{font-family:Georgia, serif;font-size:120%;}
body{font-family:source-sans-pro,sans-serif;font-weight:200;}
.jumbo{height:400px;margin:-20px 0 0 0;padding:60px 0 0 40px;color:white;font-weight:100;background:url('/images/sky.jpg');background-size:100% 100%;}.jumbo h1{font-size:56px;}
.center{text-align:center;}
.navbar{background-color:rgba(170, 204, 255, 0.3);}.navbar img.logo{max-height:40px;margin-top:-15px;margin-bottom:-10px;}
.navbar.secondary{margin-top:-20px;background-color:rgba(70, 124, 255, 0.9);border-radius:0;min-height:40px;}.navbar.secondary .navbar-nav li a{padding:10px 15px 10px 15px;color:white;}
.screenshot-big{max-height:400px;text-align:center;margin-left:auto;margin-right:auto;}
.carousel-caption{background-color:rgba(0, 0, 0, 0.5);}
.lblue{background-color:rgba(170, 204, 255, 0.1);}
.gray{border-left:5px solid #bbbbbb;background-color:rgba(204, 204, 204, 0.3);}
.orange{border-left:5px solid #eebb99;background-color:rgba(255, 204, 170, 0.3);}
.blue{border-left:5px solid #99bbee;background-color:rgba(170, 204, 255, 0.3);}
.red{border-left:5px solid #99bbee;background-color:rgba(170, 204, 255, 0.3);}
.green{border-left:5px solid #99bbee;background-color:rgba(170, 204, 255, 0.3);}
.feature{padding:15px;margin:15px;text-align:center;font-size:120%;}.feature i{float:left;margin-left:10px;}
